.itunes img{
	border: solid 1px black;
	margin-top: 20px;
}

.itunes #previous{

}

.itunes #playpause img{
	background:url("src/controler/widget_controler/widget/itunes/resource/pause.png");
	width: 64px;
	height: 64px;
}

.itunes #playpause.play img{
	background:url("src/controler/widget_controler/widget/itunes/resource/play.png");
	width: 64px;
	height: 64px;
}

.itunes #stop{

}

.itunes #next{

}

