body{
	background: white;

	
}



div.card{
	height: inherit;
	border-left: solid #2D3642 1px;
	z-index: 2;
	text-align: center;
	width: 100%;
	overflow-x: hidden;

}
div.view{
	display : none;
}
div.view.visible{
	display : block;
}

.view_button{
	display: none;
}

.view_button.visible{
	display: block;
}

/* UI Link*/

li a img{
	height: 32px;
	width: 32px;
	position: relative;
	float: left;
}

li a span{
	position: relative;
	float: left;
	margin-left:15px;
	margin-top: 6px;
	
}

/*
*
*Screen Device CSS -> width > limit
*
*/
body.screen .view{
	width: 25%;	
	float:left;
	height: inherit;
}



body.screen .card{
	
	position: relative;
	float:right;
	display: none;
	width: 75%;
}

body.screen .card.visible{
	display: block;
}


/*
*
*Mobile Device CSS -> width > limit
*
*/
body.mobile .view{
	display: none;
	z-index: 0;
	
}

body.mobile .view .toolbar{
}

body.mobile .view.visible{
	display: block;	
	z-index: 2;
}

body.mobile .card{
	display: none;
}

body.mobile .card.visible{
	width: 100%;
	z-index:1;
	display: block;
}





