/*.brightness{

	-webkit-box-sizing: border-box;
	border-radius: 10px 10px; 
	-webkit-text-size-adjust: none;
	-webkit-user-select: none;
	width: 200px;
	height: 200px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 50px;
	
	padding-top: 60px;
	background: #C5C5C5;
}

.brightness .img{
}

.brightness .value{
	font-size: 48px;
	line-height: 40px;
	color: #808080;
}

.brightness .unit{
	font-size: 24px;
	line-height: 20px;
	color: #8F8FA7;
}
*/