/* Card */

div.led0{
	text-align: center;
}

div.led0 span.toggle{
	position: relative;
	display: block;
	float: none;
	margin-left: auto;
	margin-right: auto;
}

/* Link */

li.led0 a{
	float: left;
}




/* Both */

.led0 img{
	position: relative;
	display: inline;
	height: 32px;
	width: 32px;
	margin-left: auto;
	margin-right: auto;
	background-image: url("src/controler/widget/widget/emma_led0/resource/off.png");
}


.led0 img.on{
	background-image: url("src/controler/widget/widget/emma_led0/resource/on.png");
}

